#searchbar {
    transition: top 0.5s; /* Transition effect when sliding down (and up) */
    top: 25px;
}

.form-control {
    border-width: 0px; !important;
}

input.transparent-input {
    background-color: rgba(255, 255, 255, 0.5) !important;
}

input.transparent-input:focus {
    background-color: rgba(255, 255, 255, 0.9) !important;
}

#cards-container {
    padding-left: 30px;
    padding-right: 30px;
}

.col-element {
    /* Hide images with opacity set to 0 until image is loaded ant JavaScript changes to opacity to 1 */
    opacity: 0;
    transition: opacity 1s;
}

.img-card:hover {
    transform: scale(1.1);
    z-index: 1;
}

.img-card {
    display: flex;
    transition: transform 0.3s;
}

.img-thumbnail {
    margin: 0.5rem auto;
    padding: 0.5rem;

}

.card-title {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 2rem 3rem;

    color: whitesmoke;
    /* offset-x | offset-y | blur-radius | color */
    text-shadow: 0px 0px 5px #000000, 1px 1px 5px #000000, -1px -1px 5px #000000;

    /* Hide img overlay until hovered over */
    opacity: 0;
    transition: opacity 0.3s;
}

.card-title:hover {
    /* Show img-overlay then hovered over */
    opacity: 1;
}